<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/articles">MongoScraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button type="button" href="/scrape" class="btn btn-primary" id="scrape-articles">Scrape New Articles!</button>
      <button type="button" class="btn btn-danger" id="delete-articles">Clear Articles!</button>
      <a class="nav-item nav-link active" href="/articles">Home <span class="sr-only">(current)</span></a>  |  
      <a class="nav-item nav-link" href="/saved">Saved Articles</a>

    </div>
  </div>
</nav>


{{#each article}}
<div class="container"> 
    <div class="row">
        <div class="col-md-10 title">
          <a href="{{this.link}}" target="_blank">{{this.title}}</a>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success"  id="save-article" data-id="{{this._id}}">Save Article</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <img src="{{this.image}}" alt="article image" />
        </div>
        <div class="col-md-8 info">
            <p>{{this.date}}</p>
            <p>{{this.description}}</p>
        </div>
    </div>
</div>

{{/each}}
<footer>Pew Research Center Scraper</footer>