<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MongoScraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
    </ul>
    <button type="button" href="/scraped" class="btn btn-danger">Scrape New Articles!</button>
    <button type="button" class="btn btn-danger" id="delete-articles">Clear Articles!</button>
  </div>
</nav>
{{#each article}}
<div class="container"> 
    <div class="row">
        <div class="col-md-10 title">
          <a href="{{this.link}}" target="_blank">{{this.title}}</a>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success"  id="save-article" data-id="{{this._id}}">Save Article</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <img src="{{this.image}}" alt="article image" />
        </div>
        <div class="col-md-8 info">
            <p>{{this.date}}</p>
            <p>{{this.description}}</p>
        </div>
    </div>
</div>
{{/each}}
<footer>Pew Research Center Scraper</footer>